{% extends 'base.html'%}

{% block 'titulo'%}
Produtos
{% endblock%}
{% block 'body'%}
<section id="menu-itens">
    <div id="menu" class="card text-center">
      <div class="container text-center">
        <h2> Conheca Alguns de nossos produtos </h2>
        <div class="row">
          {% for i in produtos %}
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/media/{{i.imagens}}" width="100%" height="300px" alt="">
      <div class="card-body">
        <h5 class="card-title">{{i.produto}}</h5>
        <p class="card-text">{{i.descricao}}</p>
        <samp>{{produtos.imagens}}</samp>
        <!-- iframe-->
        <a href="{{i.link}}" target="_blank" class="btn btn-primary">Mais informaçoes</a>
      </div>
    
        </div>
        {% endfor %}
        </div>
    </div>
    </section>
{% endblock %}