{% extends 'base.html'%}

{% block 'titulo'%}
Produtos
{% endblock%}
{% block 'body'%}
<section id="menu-itens">
    <div id="menu" class="card text-center">
      <div class="container text-center">
        <h2> Conheca Alguns de nossos produtos </h2>
        <div class="row">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assests/img/produtos/produtos2.jpeg" width="100%" height="300px" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Kirklang</h5>
        <p class="card-text">Tratamento Capilar mais vendido do Brasil</p>
        <a href="https://wa.me/5531988018546?text=Ola+quero+comprar+um+produto+%21" class="btn btn-primary">Mais informaçoes</a>
      </div>
    </div>
        <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assests/img/produtos/produtos3.jpeg" width="100%" height="300px" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Barber Alfa</h5>
        <p class="card-text">Pomada de auta fixaçao efeito teia</p>
        <a href="https://wa.me/5531988018546?text=Ola+quero+comprar+um+produto+%21" class="btn btn-primary">Mais informaçoes</a>
      </div>
    </div>
        <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assests/img/produtos/produtos4.jpeg" width="100%" height="300px" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">G10 Black</h5>
        <p class="card-text">gel cola black de Fixaçâo capilar</p>
        <a href="https://wa.me/5531988018546?text=Ola+quero+comprar+um+produto+%21" class="btn btn-primary">Mais informaçoes</a>
      </div>
    </div>
        </div>
        </div>
    </div>
    </section>
{% endblock %}